services:
  evolution-postgres:
    image: postgres:15-alpine
    container_name: evolution-postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: rotacomercial
    volumes:
      - evolution_postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  evolution-redis:
    image: redis:alpine
    container_name: evolution-redis
    restart: always
    ports:
      - "6379:6379"

  evolution-api:
    image: atendai/evolution-api:latest
    container_name: evolution-api
    restart: always
    depends_on:
      - evolution-postgres
      - evolution-redis
    ports:
      - "8080:8080"
    environment:
      NODE_ENV: production
      PORT: 8080
      LOG_LEVEL: info

      # Banco de dados
      DATABASE_PROVIDER: postgresql
      DATABASE_HOST: evolution-postgres
      DATABASE_PORT: 5432
      DATABASE_USER: root
      DATABASE_PASSWORD: root
      DATABASE_NAME: rotacomercial
      DATABASE_URL: postgresql://root:root@evolution-postgres:5432/rotacomercial

      # Redis
      REDIS_ENABLED: "true"
      REDIS_URL: redis://default:@evolution-redis:6379/0

      # API / Autenticação
      SERVER_URL: http://69.62.101.194:8080
      EVOLUTION_API_URL: http://69.62.101.194:8080
      AUTHENTICATION_API_KEY: fa659dd1045ded2dd5afbb04b46a44bc1318375cd87140b761f5efb59fafb469
      USE_AUTHENTICATION_BEARER: "true"

      # Webhook / CORS
      WEBHOOK_GLOBAL_ENABLED: "false"
      CORS_ORIGIN: "*"
      CORS_METHODS: POST,GET,PUT,DELETE
      CORS_CREDENTIALS: "true"

    volumes:
      - evolution_instances:/evolution/instances
      - evolution_store:/evolution/store
    dns:
      - 8.8.8.8
      - 1.1.1.1

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      NEXT_DISABLE_FONT_DOWNLOADS: "1"
      NEXT_PUBLIC_APP_URL: http://69.62.101.194:3000
      NEXT_PUBLIC_SUPABASE_URL: ""
      NEXT_PUBLIC_SUPABASE_ANON_KEY: ""
      NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY: ""
    depends_on:
      - evolution-api
    dns:
      - 8.8.8.8
      - 1.1.1.1

volumes:
  evolution_postgres_data:
  evolution_instances:
  evolution_store:
